body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #00bdda;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-logo{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    list-style: none;
}
.nav-list li{
    padding: 15px;
}
.nav-list a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.logo{
    width: 50px;
    height: 50px;
    margin-right: 5px;
}
main{
    width: 1250px;
    margin: 200px 110px;
    display: flex;
}
.main-img-cell{
    width: 500px;
}